* { margin:0px; padding:0px;}

body 
{ background:linear-gradient(skyblue,whitesmoke); background-repeat:no-repeat; background-attachment:fixed; }

h1 {
    padding:10px;
    font-family:consolas, sans-serif;
    color:rgb(132, 0, 255);
    text-align:center;
    font-weight:bolder;
    margin-top:5px;
    border-width:4px;
    border-color:red;
    border-style:solid;
    border-radius:20px;
    background-color:#000000;
    margin-right:30px;
    margin-left:30px;
    margin-bottom:30px; 
    border-bottom-color:yellowgreen;
    border-top-color:aquamarine; }

.odd {
    padding:8px;
    background-color: aqua;
    font-family:sans-serif;
    font-size:15px;
    text-align:justify; }

.even {
    padding:8px;
    background-color:yellow;
    font-family:consolas;
    font-size:16px; }

p 
{  margin-top:26px; 
   margin-right:10px;
   margin-left:10px;
   border-color:#000000;
   border-width:3px; border-radius:20px;
   border-style:dashed; }